{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Willkommen, {{ current_user.vorname }}!</h2>
  <p>Wähle eine Aktion:</p>

  <div class="list-group">
    <a href="{{ url_for('bank') }}" class="list-group-item list-group-item-action">
      💰 Kontostand und Transaktionen anzeigen
    </a>
    <a href="{{ url_for('bank_deposit') }}" class="list-group-item list-group-item-action">
      ➕ Einzahlung
    </a>
    <a href="{{ url_for('bank_withdraw') }}" class="list-group-item list-group-item-action">
      ➖ Auszahlung
    </a>
    <a href="{{ url_for('bank_transfer') }}" class="list-group-item list-group-item-action">
      🔁 Geld überweisen
    </a>
    <a href="{{ url_for('users') }}" class="list-group-item list-group-item-action">
      👥 Benutzerliste
    </a>
  </div>
</div>
{% endblock %}


